<!DOCTYPE html>
<html lang="en">

<head>
  <title>MediaBook</title>
  <link rel='stylesheet' href='/assets/css/profile.css' />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="nav-left">
      <a href="/user/HomePage">
        <img style="height: 50px;" src="/assets/images/logo11.png" alt="Logo" />
      </a>
      <input type="text" name="search" placeholder="Search Post ...">
    </div>

    <div class="nav-middle">
      <a href="/user/HomePage" title="Home">
        <i class="fa fa-home"></i>
      </a>

      <a class="active" title="Profilr">
        <i class="fa fa-user"></i>
      </a>

      <a href="/user/Ranking_Post" title="Saving">
        <i class="fa fa-bookmark"></i>
      </a>

      <a href="/user/Messages" title="Message">
        <i class="fab fa-facebook-messenger"></i>
      </a>
    </div>

    <div class="nav-right">

      <a href="#">
        <i class="fa fa-bell"></i>
      </a>
      <a href="/account/logout">
        <i class="fas fa-share-square"></i>
      </a>
    </div>
  </nav>

  <div class="profile-container">
    {{!-- <img src="/assets/images/curved0.jpg" class="cover-img"> --}}

    <div class="profile-details">
      <div class="pd-row">
        <img style="height: 120px; width: 120px; margin-right: 15px;" src="/uploads/{{User.Avatar}}" alt="Avartar">
        <div>
          <h3>{{User.name}}</h3>
          <p>100 Friends - 1000 Follower</p>
        </div>
        <img src="/assets/images/curved0.jpg" class="cover-img">
      </div>
    </div>

    <div class="nav-content">
      <a href="/user/Profile">
        <h3>Infomation</h3>
      </a>
      <a href="/user/getPost/{{UserAcc._id}}">
        <h3>List Posts</h3>
      </a>
      <a href="/user/UpdateInfo/{{UserAcc._id}}">
        <h3>Update Infomation</h3>
      </a>
      <a class="active">
        <h3>Change Password</h3>
      </a>
    </div>

    <!-- Main -->
    <div class="mess-container">
      <div class="changepass-details">
        <h1 style="text-align: center; margin: 10px;">Change Password</h1>
        <form class="uploadForm" action="/user/ChangePassword" method="POST">
          <div class="row">
            <label for="name">Full name: <strong>{{User.name}}</strong> </label>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="pwd">A new Password:</label>
            </div>
            <div class="col-75">
              <input type="password" id="pwd" name="pwd" required>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="pwd2">Re-enter Password:</label>
            </div>
            <div class="col-75">
              <input type="password" id="pwd2" name="pwd2" required>
            </div>
          </div>
          <input type="hidden" name="_method" value="PUT">
          <input type="hidden" name="_id" value="{{User._id}}">
          <button id="change" type="submit">Update</button>
          <br>
          {{#if err}}
          <div class="alert-warning">
            {{msg}}
          </div>
          {{/if}}
        </form>
      </div>

      <div class="footer-links">
        <a>
          <p class="mb-0 text-secondary" style="text-align: center; margin-top: 16px;">
            Copyright ©
            <script>
              document.write(new Date().getFullYear())
            </script> Anh Tuan.
          </p>
        </a>
      </div>
    </div>

  </div>


</body>

</html>