<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/images/favicon.svg" type="image/x-icon">

    <style>
        .comment-list li {
            padding: 0;
            margin: 0 0 30 px 0;
            float: left;
            width: 100%;
            clear: both;
            list-style: none;
        }

        .comment-list li .comment-body {
            float: right;
            margin-right: 60px;
        }

        .comment-list li .comment-body h3 {
            font-size: 16px;
        }

        .comment-list li .vcard {
            float: left;
        }

        .scrollbar {
            height: 450px;
            overflow-x: hidden;
            overflow-y: auto;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="#"><img src="/assets/images/tuan.jpg" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title">Menu</li>

                        <li class="sidebar-item ">
                            <a href="/admin/admin_home" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a href="/admin/getListUser" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>User list</span>
                            </a>
                        </li>

                        <li class="sidebar-item active ">
                            <a href="/admin/listPost" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>List Posts</span>
                            </a>
                        </li>
                        <li class="sidebar-item ">
                            <a href="/account/logout" class='sidebar-link'>
                                <img style="width: 40px;" src="/assets/images/logout.png">
                                Logout
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>

        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Posts Detail of {{Posts.author.name}}</h3>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/admin/admin_home">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="/admin/getListUser">User List</a></li>
                                    <li class="breadcrumb-item"><a href="/admin/listPost">List Postst</a></li>
                                    <li class="breadcrumb-item"> <a href="/account/logout"> Logout </a> </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <div class="card-header" style="margin-top: 30px;margin-left: 30px;">
                            <div class="post-top">
                                <div class="dp">
                                    <img style="width: 90px; border-radius: 50%;margin-left: 15%;object-fit: contain;"
                                        src="/uploads/{{Posts.author.Avatar}}" alt="Avartar">
                                </div>
                                <div class="post-info">
                                    <p class="name">{{Posts.author.name}} <img style="width: 13px; margin-left: 3px;"
                                            src="/assets/images/verify.png" title="Verified"></p>
                                    <span class="time"><strong>Time:</strong> {{Posts.timeCreated}}</span>
                                </div>
                                <i class="fas fa-ellipsis-h">
                                </i>
                            </div>
                            <div class="post-content">
                                <p style="color: royalblue; word-break: break-all;">#{{Posts.title}}</p>
                                <p style=" margin-top: 10px; margin-bottom: 5px; word-break: break-all;"><strong>DESC:
                                    </strong>
                                    {{Posts.desc}}</p>
                            </div>

                            <div class="com" style="width: 50%;float: right;">
                                <h3 style="margin-bottom: 16px;">
                                    {{comcount}} Comments        ||        {{likecount}} Likes
                                </h3>
                                <div class="scrollbar">
                                    <ul class="comment-list" id="listComment">
                                        {{#each Comment}}
                                        <li class="comment">
                                            <div class="vcard" style="margin-left: -27px;">
                                                <img style="width: 50px; border-radius: 50%;object-fit: contain;"
                                                    src="/uploads/{{author.Avatar}}" alt="Avartar">
                                            </div>
                                            <div class="comment-body">
                                                <div class="post-info">
                                                    <h3 style="font-size: 16px;" class="name">{{author.name}}</h3>
                                                    <span style="color:blue;" class="meta">{{author.timeCreated}}</span>
                                                </div>
                                                <p>
                                                    {{content}}
                                                </p>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>

                            <div class="post-content">
                                <img style="width: 500px;height: 500px;object-fit: contain;"
                                    src="/uploads/{{Posts.postImage}}" alt="Posts Image">
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <footer>
                <div class="footer-links">
                    <a>
                        <p class="mb-0 text-secondary" style="text-align: center;">
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Anh Tuan.
                        </p>
                    </a>
                </div>
            </footer>
        </div>


    </div>
    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/vendors/simple-datatables/simple-datatables.js"></script>
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>

    <script src="/assets/js/main.js"></script>
</body>

</html>